<% content_for :title, 'New Product' %>

<div class="content-body">
  <section id="new-product">


    <%= turbo_frame_tag 'create_product' do %>
      <form id="create_product" action="<%= app_product_index_path %>" method="post">

        <div class="d-flex justify-content-between mb-2">

          <div class="d-flex">
            <h1 class="m-0" style="line-height: 39px;">
              New Product
            </h1>
          </div>

          <div>
            <button type="submit" class="btn btn-success">
              <i data-feather="save"></i> Create
            </button>
          </div>
        </div>

        <div>
          <%= render(FormErrorComponent.new(@product.errors.messages)) %>
        </div>

        <div class="card">
          <div class="card-content">
            <div class="card-body">

              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

              <div class="row">

                <div class="col-12 col-lg-6 col-md-6 col-sm-12">

                  <%= render InputBlockComponent.new('product-name', 'create[name]', 'Product Name', placeholder: 'Name', value: @product.name) %>

                  <%= render InputBlockComponent.new('product-sku', 'create[sku]', 'SKU', placeholder: '', value: @product.sku, helper_text: 'SKU must be only lowercase alphanumeric characters only') %>

                </div>

                <div class="col-12 col-lg-6 col-md-6 col-sm-12">

                  <%= render InputBlockComponent.new('product-price', 'create[price]', 'Price', placeholder: 0, value: @product.price, type: 'number') %>

                  <%= render InputBlockComponent.new('product-quantity', 'create[quantity]', 'Quantity', placeholder: 0, value: @product.quantity, type: 'number') %>

                  <%= render InputBlockComponent.new('product-tax-code', 'create[tax_code]', 'Tax Code', value: @product.tax_code, required: false) %>

                </div>

              </div>

            </div>
          </div>
        </div>

      </form>
    <% end %>

  </section>

</div>

<script>

    document.addEventListener('turbo:submit-start', (event) => {
        console.log(event);
        toastr.warning('Please wait...', 'Creating Market');
    });

</script>