<div class="<%= @div_classes %>">
  <input class="<%= @input_classes %>" type="checkbox" id="<%= @id %>" name="<%= @name %>" <%= 'checked' if @checked %> <%= 'required' if @required %> <%= 'readonly' if @read_only %> <%= 'disabled' if @disabled %> >
  <label class="form-check-label" for="<%= @id %>"><%= @title %></label>
</div>