<%= turbo_frame_tag @product do %>

  <div class="d-flex justify-content-between">
    <div>
      <h1>
        <%= @product.name %>
      </h1>
      <p class="text-muted">
        <%= @product.sku %>
      </p>
    </div>

    <div class="d-flex">
      <a href="<%= edit_app_market_space_product_path(@product) %>" class="btn btn-success" rel="next" style="height: 39px;">
        <i data-feather="edit-3"></i>
        <%= t('global.wording.edit') %>
      </a>

    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <%= t('global.wording.details') %>
      </h3>
    </div>
    <div class="card-body">
      <!-- created at -->
      <p>
        <b>Created at:</b> <%= @product.created_at %>
      </p>
      <!-- updated at -->
      <p>
        <b>Updated at:</b> <%= @product.updated_at %>
      </p>

      <!-- enabled -->
      <p>
        <b>Enabled:</b> <%= @product.enabled %>
      </p>

      <!-- shippable -->
      <p>
        <b>Shippable:</b> <%= @product.shippable %>
      </p>

    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <%= t('global.wording.values') %>
      </h4>

      <div class="row">

        <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%= render InputBlockComponent.new(id: 'product-display-name', title: 'Name', placeholder: @product.name, value: @product.name, required: false, read_only: true) %>
        </div>

        <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%= render InputBlockComponent.new(id: 'product-sku', title: 'SKU', placeholder: @product.sku, value: @product.sku, required: false, read_only: true) %>
        </div>

        <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%= render InputBlockComponent.new(id: 'product-stock', title: 'Stock', placeholder: @product.stock, value: @product.stock, required: false, read_only: true) %>
        </div>

        <div class="col-12 col-xl-3 col-lg-4 col-md-6 col-sm-12">
          <%= render InputBlockComponent.new(id: 'product-tax-code', title: 'Tax Code', placeholder: t('global.wording.tax_code'), value: @product.tax_code, required: false, read_only: true) %>
        </div>

        <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div>
            <label for="create_product_description">Description</label>
            <textarea class="form-control" placeholder="Description" id="create_product_description" rows="3" readonly><%= @product.description %></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Prices</h4>
    </div>
    <div class="card-body">
      <p class="card-text">
        Prices are shown in the lowest unit of currency. For example, if the currency is USD, the price is shown in cents.
      </p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Currency Code</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>

          <% @product.product_prices.each do |product_price| %>
            <tr>
              <td>
                <%= product_price.price.currency.iso_code %>
              </td>
              <td>
                <%= product_price.created_at %>
              </td>
              <td>
                <%= product_price.updated_at %>
              </td>
              <td>
                <%= product_price.price.format %>
              </td>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Orders</h4>
    </div>
    <div class="card-body">

      <table id="product-orders-table" class="table table-striped" style="width:100%"
             data-controller="app--market-space--product--orders"
             data-app--market-space--product--orders-url-value="<%= app_market_space_product_orders_datatable_path @product %>"
             data-app--market-space--product--orders-item-path-value="<%= app_market_space_order_index_path %>"
      >
        <thead>
        <tr>
          <th>Date</th>
          <th>Num of Products</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>View</th>
        </tr>
        </thead>

        <tbody class="table-striped"></tbody>

        <tfoot>
        <tr>
          <th>Date</th>
          <th>Num of Products</th>
          <th>Payment Status</th>
          <th>Order Status</th>
          <th>View</th>
        </tr>
        </tfoot>
      </table>

    </div>
  </div>

  <%= render App::ActionLogTableComponent.new(@product) %>

<% end %>