<% content_for :title, t('.renew_your_password') %>

<div class="d-flex mb-1">
  <h2 class="card-title font-weight-bold mr-2 mb-0"><%= t '.renew_your_password' %></h2>

  <a href="/" class="btn btn-sm btn-outline-primary" data-external>
    <i data-feather="arrow-left"></i> <%= t 'global.wording.back_to_home' %>
  </a>
</div>

<% unless flash.alert.blank? %>
  <div class="alert alert-warning w-100 m-0 text-center my-1" role="alert">
    <div class="alert-body">
      <%= flash.alert %>
    </div>
  </div>
<% end %>

<% unless flash.notice.blank? %>
  <div class="alert alert-warning w-100 m-0 text-center my-1" role="alert">
    <div class="alert-body">
      <%= flash.notice %>
    </div>
  </div>
<% end %>

<form class="auth-login-form mt-2" action="<%= user_password_expired_path %>" method="post" novalidate="novalidate">
  <input type="hidden" name="_method" value="put">

  <div class="form-group">
    <label class="form-label" for="login-password"><%= t '.current_password' %></label>
    <input class="form-control form-control-merge" id="login-password" type="password" name="user[current_password]" placeholder="············" aria-describedby="login-password" tabindex="2">
  </div>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="form-group">
    <label class="form-label" for="login-password"><%= t '.new_password' %></label>
    <input class="form-control form-control-merge" id="login-password" type="password" name="user[password]" placeholder="············" aria-describedby="login-password" tabindex="2">
  </div>

  <div class="form-group">
    <label class="form-label" for="login-password"><%= t '.new_password_confirmation' %></label>
    <input class="form-control form-control-merge" id="login-password" type="password" name="user[password_confirmation]" placeholder="············" aria-describedby="login-password" tabindex="2">
  </div>

  <small>
    Password must contain a lowercase, uppercase, number, symbol, and at least 8 characters.
    <a href="https://passwordsgenerator.net/?length=24&symbols=1&numbers=1&lowercase=1&uppercase=1&similar=1&ambiguous=1&client=1&autoselect=0" data-external target="_blank">
      Password generator here.
    </a>
  </small>

  <button type="submit" class="btn btn-primary btn-block waves-effect waves-float waves-light mt-2" tabindex="4"><%= t '.change_my_password' %></button>
</form>



