<%= turbo_frame_tag @current_customer do %>
  <div data-controller="site--cart">
    <a class="nav-link <%= 'show' if @show_navbar_cart %>" href="#" id="cart-navbar-dropdown-button" data-bs-toggle="dropdown" aria-expanded="<%= @show_navbar_cart ? 'true' : 'false' %>" data-action="site--cart#toggleDropdown" data-site--cart-open-value="<%= @show_navbar_cart ? 'true' : 'false' %>">
      <i class="ficon" data-feather='shopping-cart'></i>
      <% if @cart_items_count > 0 %>
      <span class="badge rounded-pill bg-primary badge-up cart-item-count">
        <%= @cart_items_count %>
      </span>
      <% end %>
    </a>

    <ul id="cart-navbar-dropdown-items" class="dropdown-menu dropdown-menu-media dropdown-menu-end <%= 'show' if @show_navbar_cart %>">

      <li class="dropdown-menu-header">
        <div class="dropdown-header d-flex">
          <h4 class="notification-title mb-0 me-auto">My Cart</h4>
          <div class="badge rounded-pill badge-light-primary"><%= @cart_items_count %> Items</div>
        </div>
      </li>

      <form action="<%= cart_update_cart_path %>" method="post">
        <!-- rails authenticity token -->
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <li class="scrollable-container media-list ps">

          <%= turbo_stream_from 'cart_items' %>

        </li>

        <li class="dropdown-menu-footer">

          <div id="navbar-cart-update-div" style="display: none;">
            <button type="submit" class="btn btn-success w-100 mb-1" id="navbar-cart-update">
              Save Cart
            </button>
          </div>

          <div class="d-flex justify-content-between mb-1">
            <h6 class="fw-bolder mb-0">
              Total:
            </h6>
            <h6 class="text-primary fw-bolder mb-0">
              <%= @cart_total.format %>
            </h6>
          </div>
          <a href="<%= cart_path %>" class="btn btn-primary w-100 waves-effect waves-float waves-light">
            Checkout
          </a>
        </li>
      </form>

    </ul>
  </div>
<% end %>