<%= turbo_frame_tag @order do %>

  <div class="d-flex justify-content-between mb-2">

    <div>
      <h1 class="m-0" style="line-height: 39px;">
        Order
      </h1>
      <small class="text-muted">
        <%= @order.id %>
      </small>
    </div>

    <div>
      <a href="<%= edit_app_order_path @order %>" class="btn btn-success" data-turbo-action="advance">
        <i data-feather="edit-3"></i> Edit
      </a>
    </div>

  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-body">

        <div class="row">

          <div class="col-12 col-lg-6 col-md-6 col-sm-12">
            <div class="card">
              <div class="card-body">
                <h1 class="card-title mb-0">
                  Details
                </h1>
                <hr>
                <br>
                <div class="row">

                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h5 class="mb-1">
                      <i data-feather='info' class="m2-25"></i> Information
                    </h5>
                    <!-- created at -->
                    <p>
                      <b>Created at:</b> <%= @order.created_at %>
                    </p>
                    <!-- updated at -->
                    <p>
                      <b>Updated at:</b> <%= @order.updated_at %>
                    </p>

                    <!-- payment status -->
                    <p>
                      <b>Payment status:</b> <%= render App::PaymentStatusComponent.new(@order.payment_status), cached: true %>
                    </p>

                    <!-- status -->
                    <p>
                      <b>Status:</b> <%= render App::OrderStatusComponent.new(@order.status), cached: true %>
                    </p>
                  </div>

                  <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <h5 class="mb-1">
                      <i data-feather="map-pin" class="me-25"></i>Address
                    </h5>

                    <!-- order address -->
                    <p>
                      <b>Name:</b> <%= @order.shipping_name %>
                    </p>

                    <p>
                      <b>Address Line 1:</b> <%= @order.address_line_1 %>
                    </p>

                    <% unless @order.address_line_2.blank? %>
                      <p>
                        <b>Address Line 2:</b> <%= @order.address_line_2 %>
                      </p>
                    <% end %>

                    <p>
                      <b>City:</b> <%= @order.city %>
                    </p>

                    <p>
                      <b>State:</b> <%= @order.state %>
                    </p>

                    <p>
                      <b>Zip:</b> <%= @order.zip %>
                    </p>

                    <p>
                      <b>Country:</b> <%= @order.country %>
                    </p>

                  </div>

                </div>




              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Items</h4>
    </div>
    <div class="card-body">
      <p class="card-text">

      </p>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>

        <% @order.order_items.each do |order_item| %>
          <tr>
            <td>
              <a href="<%= app_product_path order_item.product %>" target="_blank">
                <i data-feather="external-link"></i> <%= order_item.product.name %>
              </a>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>

<% end %>