<% content_for :title, "Market #{@market.display_name}" %>

<div class="content-body">
  <section id="market-show">


    <div class="d-flex justify-content-between mb-2">

      <div class="d-flex">
        <h1 class="m-0" style="line-height: 39px;">
          <%= @market.display_name %>
        </h1>
      </div>

      <div>
        <a href="<%= edit_app_market_path(@market.id) %>" class="btn btn-success">
          <i data-feather="edit-3"></i> Edit
        </a>
      </div>

    </div>


    <div class="card">
      <div class="card-content">
        <div class="card-body">

          <div class="row">

            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
              <%= render InputBlockComponent.new('market-display-name', 'show[display_name]', 'Market Name', placeholder: @market.display_name, value: @market.display_name, required: false, read_only: true) %>
              <%= render InputBlockComponent.new('market-path-name', 'show[path_name]', 'Market Path', placeholder: @market.path_name, value: @market.path_name, required: false, read_only: true) %>
              <%= render InputBlockComponent.new('market-Email', 'show[Email]', 'Market Email', placeholder: @market.email, value: @market.email, required: false, read_only: true) %>
            </div>

          </div>



        </div>
      </div>
    </div>

  </section>
</div>