<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <title>
      <%= yield(:title) %>
    </title>

    <%= render "shared/head" %>

    <% unless content_for?(:skip_analytics) %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials[:gtag_id] %>"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', '<%= Rails.application.credentials[:gtag_id] %>');
      </script>
    <% end %>

    <style>
        #dumbass-menu-spacer {
            height: 60px;
        }
        @media only screen and (max-width: 1320px) {
            #dumbass-menu-spacer {
                height: 0;
            }
        }
    </style>

  </head>

  <!-- BEGIN: Page CSS-->
  <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-3/app-assets/css/core/menu/menu-types/horizontal-menu.css?_=<%= GIT_COMMIT %>">
  <link rel="stylesheet" type="text/css" href="https://cdn.m6securities.com/vuexy_admin_7-3/app-assets/css/core/colors/palette-gradient.css?_=<%= GIT_COMMIT %>">
  <!-- END: Page CSS-->

  <body class="horizontal-layout horizontal-menu  navbar-floating footer-static  " data-open="hover" data-menu="horizontal-menu" data-col="">

    <%= render 'shared/site_navbar' %>

    <!-- BEGIN: Content-->

    <div class="app-content content" style="padding: 0 !important;">
      <div class="content-wrapper">

        <div id="dumbass-menu-spacer"></div>

        <div>

        </div>

        <span id="requested-page-path" style="display: none;"><%= yield(:requested_page_path_value) %></span>

        <div class="content-body">
          <div class="auth-wrapper auth-v2">
            <div class="auth-inner row m-0">
              <!-- Brand logo-->
              <a class="brand-logo">
                <img src="" alt="Logo" height="28px">
                <h2 class="brand-text text-primary ml-1">Manius Market</h2>
              </a>
              <!-- /Brand logo-->
              <!-- Left Text-->
              <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
                  <img class="img-fluid" src="https://cdn.m6securities.com/vuexy_admin_7-3/app-assets/images/pages/login-v2.svg" alt="Login V2">
                </div>
              </div>
              <!-- /Left Text-->

              <!-- Content-->
              <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">

                  <%= yield %>

                </div>
              </div>
              <!-- /Content-->
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- END: Content-->


    <%= render 'shared/site_javascript' %>
  </body>
</html>